@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-regular.otf);
}

* {
    box-sizing: border-box;
}

.skin {
    width: 340px;
    height: 445px;
    margin: 50px auto;
    border-radius: 6px;
}

.header {
    height: 52px;
    background: #1f1f1f;
    border-radius: 6px 6px 0 0;
}

.header-buttons {
    height: 52px;
    line-height: 52px;
    font-size: 36px;
}

.header-buttons button {
    margin-left: 15px;
    padding: 0;
}

.header-buttons button:hover {
    color: #e6eaee;
}

button {
    background: transparent;
    color: #707b86;
}

.content {
    height: 319px;
    position: relative;
}

.song-title {
    position: absolute;
    bottom: 37px;
    height: 80px;
    width: 100%;
    background: #949195;
    opacity: 0.5;
    color: #e6eaee;
    text-align: center;
    font-family: MyriadPro, sans;
}

.song-title h1 {
    font-size: 30px;
}

.song-title h3 {
    font-size: 16px;
}

.controls {
    background: #635c62;
    opacity: 0.7;
    height: 37px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer {
    height: 72px;
    overflow: hidden;
    background: #1f1f1f;
    border-radius: 0 0 6px 6px;
}

.footer-buttons {
    height: 72px;
    line-height: 72px;
    font-size: 36px;
}

.footer-buttons button {
    margin-left: 32px;
    padding: 0;
}

.footer-buttons button:hover {
    color: #e6eaee;
}
